<h1>talk some smack</h1>
<form method='POST' action='/new'>
    <label for='user'>username:</label>
    <input type='text' name='user'>
    <label for='text'>your message:</label>
    <textarea type='text' name='text'></textarea>
    <button type='submit'>submit</button>
</form>
<a class='back-btn' href='/'>go back</a>