<h1>talk some smack</h1>
<form method='POST' action='/new'>
    <label for='user'>username:</label>
    <input type='text' name='user'>
    <label for='text'>your message:</label>
    <input type='text' name='text'>
    <button type='submit'>submit</button>
</form>
<a href='/'>go back</a>