<div class="header">
    <p>welcome to {{title}}</p>
    <a class='write-post-btn' href='/new'>write a new post</a>
</div>


<div class="message-list">
    {{#each messages}}
        <div class="message">
            <div class="message-text">{{text}}</div>
            <div class="message-user">- {{user}}</div>
            <div class="message-timestamp">{{added}}</div>  
        </div>
    {{/each}}
</div>
